// TODO: add any custom pipeline parameters here
params {

    input           = null
    outdir          = "results"

    help            = false

    logo            = "${baseDir}/assets/pipelinelogo.png"
    run_name        = null

    plaintext_email = false
    skip_multiqc    = false
    email           = false

    conda.enabled   = false
    singularity.enabled = false
    docker.enabled  = false
    podman.enabled  = false
    apptainer.enabled = false
    
    max_memory      = 128.GB
    max_cpus        = 16
    max_time        = 240.h
    maxMultiqcEmailFileSize = 25.MB

    multiqc_config  = "${baseDir}/conf/multiqc_config.yaml"
    multiqc_logo    = "${baseDir}/assets/pipelinelogo.png"

    publish_dir_mode    = 'copy'
    custom_config_base = "https://raw.githubusercontent.com/bio-raum/nf-configs/main"
}

// TODO: update name and version of pipeline, author name and URL
manifest {
    name = "marchoeppner/pipeline"
    version = "0.0"
    description = "Pipeline"
    author = "Author Name"
    homePage = "https://github.com/marchoeppner/pipeline"
    nextflowVersion = "24.10.8"
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

plugins {
  id 'nf-schema@2.4.0'
}

validation {
    help {
        enabled = true
    }
    summary {
        hideParams = [ "references" ]
    }
}

timeline {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_timeline.html"
}
report {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_report.html"
}
trace {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_trace.txt"
}
dag {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

// Custom options for some modules
includeConfig 'conf/modules.config'

// Load centrally stored profiles
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/custom.config" : "/dev/null"

// Default configs to load for all profiles
includeConfig 'conf/base.config'
includeConfig 'conf/resources.config'

profiles {
    
    docker { 
        docker.enabled = true 
        singularity.enabled = false
        podman.enabled = false
        conda.enabled = false
        apptainer.enabled = false
    }
    singularity {
        docker.enabled = false
        podman.enabled = false
        conda.enabled = false
        apptainer.enabled = false
        singularity.enabled = true
    }
    podman {
        docker.enabled = false
        singularity.enabled = false
        conda.enabled = false
        apptainer.enabled = false
        podman.enabled = true
    }
    conda {
        docker.enabled = false
        podman.enabled = false
        singularity.enabled = false
        apptainer.enabled = false
        conda.enabled = true
    }
    apptainer {
        apptainer.enabled = true
        docker.enabled = false
        podman.enabled = false
        singularity.enabled = false
        conda.enabled = false
    }
}

