params {

    input           = null
    outdir          = "results"

    help            = false

    logo            = "${baseDir}/assets/pipelinelogo.png"
    run_name        = null

    kit             = null
    samplesheet     = null
    model           = null
    dorado_options  = null
    duplex          = false

    conda.enabled   = false
    singularity.enabled = false
    docker.enabled  = false
    podman.enabled  = false
    apptainer.enabled = false

    multiqc_config  = "${baseDir}/conf/multiqc_config.yaml"
    multiqc_logo    = "${baseDir}/assets/pipelinelogo.png"

    publish_dir_mode    = 'copy'
    custom_config_base = "https://raw.githubusercontent.com/bio-raum/nf-configs/main"
}

manifest {
    name = "marchoeppner/ont-demux"
    version = "0.1"
    description = "ONT demux pipeline"
    author = "Marc Hoeppner"
    homePage = "https://github.com/marchoeppner/ont-demux"
    nextflowVersion = "25.04.2"
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

plugins {
  id 'nf-schema@2.4.0'
}

validation {
    help {
        enabled = true
    }
}

timeline {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_timeline.html"
}
report {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_report.html"
}
trace {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_trace.txt"
}
dag {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

// Custom options for some modules
includeConfig 'conf/modules.config'

// Load centrally stored profiles
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/custom.config" : "/dev/null"

// Default configs to load for all profiles
includeConfig 'conf/base.config'

profiles {
    
    docker { 
        docker.enabled = true 
        singularity.enabled = false
        podman.enabled = false
        conda.enabled = false
        apptainer.enabled = false
    }
    singularity {
        docker.enabled = false
        podman.enabled = false
        conda.enabled = false
        apptainer.enabled = false
        singularity.enabled = true
        process."withLabel:gpu".containerOptions = "--nv"
    }
    podman {
        docker.enabled = false
        singularity.enabled = false
        conda.enabled = false
        apptainer.enabled = false
        podman.enabled = true
    }
    conda {
        docker.enabled = false
        podman.enabled = false
        singularity.enabled = false
        apptainer.enabled = false
        conda.enabled = true
    }
    apptainer {
        apptainer.enabled = true
        docker.enabled = false
        podman.enabled = false
        singularity.enabled = false
        conda.enabled = false
    }
}

