process {
    
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: false
    ]

    withName: DORADO_BASECALLER {
        ext.args = [
            params.kit ? "--kit-name ${params.kit}" : "",
            params.dorado_options ? params.dorado_options : ""
        ].join(" ")
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: SAMTOOLS_FASTQ {
        ext.args = "-T '*'"
        publishDir = [
            path: { "${params.outdir}/fastq" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: MULTIQC {
        ext.prefix = "${params.run_name}_"
    }
 
}
